div.verify{
	margin: 0;
	max-height: 600px;
	overflow: auto;
	padding: 2em;
	border: 1px solid #ccc;
	background: #fafafa;
	font-family: 'Times New Roman', 'Georgia', serif;
	font-size: 1.1em;
}

div.verify p{
	text-align: left;
}

div.verify ul.space li{
	margin-bottom: 1em;
}

div.verify img{
	padding: 0;
	margin: 0;
	background: none;
	border: 0;
}

div.upload{
	margin: 0;
	max-height: 600px;
	overflow: auto;
	padding: 2em 1em;
	border: 1px solid #ccc;
	background: #f3f3f3;
	font-family: Arial, sans-serif;
}